body {
    font-size: 16px;
    background-color:black;
    color: white;
    position: relative;
    font-family: 'Poppins', sans-serif;
}
/* navar */

.imagen_menu {
    width: 40px;
}

.menu {
    text-decoration: none; 
    color: white;
    font-family: 'Roboto Mono', monospace;
}
.menucito {
    text-decoration: none;
    color : white;
    font-family: 'Roboto Mono', monospace;
}

/* hr */
hr {
    color: turquoise;
}


/*carousel*/

.carousel{
    width: 100%;
   background-repeat: no-repeat;
   background-size: cover;

}

/* quienes somos */

.avion, .montaña, .ruta {
    background-color: turquoise;
    width: 100%;
    padding: 3px;
}

/* destacado*/

.tarjeta1, .tarjeta2, .tarjeta3, .tarjeta4{
    border: 1px solid white;
    background-color: turquoise;
}
/* footer */
footer{
    background-color: turquoise;
}
.footer_titulo{
    color: white;
    text-decoration: none;
    font-family: 'Roboto Mono', monospace;
}
.footer_imagenes{
    text-decoration: none;
    color:white;
}